<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    {% load static %}
    <script type="text/javascript" src="{% static 'paycellapiclient/app.js' %}"></script>

</head>

<div class="row">
    <div class="col-6">
        {{ english_content | safe }}

    </div>
    <div class="col-6">
        {{ turkish_content | safe }}

    </div>

</div>

<button type="button" class="btn btn-primary" style='margin-top:2em' onclick="confirm();"> Confirm</button>
<button type="button" class="btn btn-primary" style='margin-top:2em' onclick="cancel();"> Cancel</button>

<script language="javascript">
    function confirm() {
        window.isConfirm = true;
        window.close();
    }

    function cancel() {
        window.isCancel = true;
        window.close();
    }

</script>

</html>
